.errorMessage {
    margin-top: .3rem;
    font-size: .9rem;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #f2070e;
}

.input__box.success input {
    border-color: #09c372;
    outline: none;

}
.error.input__box input {
    border-color: #f2070e;
}

